[submodule "depends/libsnark"]
	path = depends/libsnark
	url = https://github.com/scipr-lab/libsnark.git
[submodule "depends/libff"]
	path = depends/libff
	url = https://github.com/scipr-lab/libff.git
